@use "../base/reset";
@use "../base/colors";
@use "../base/typo";


#homeGrid {
    display: grid;
    height: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 0;
    grid-template-areas: 
    "hero"
    "search"
    "exclusive"
    "searchBy"
    "about"
    "testimonials"
    "footer" ;
}

#hero {
    grid-area: hero;
}

#search {
    grid-area: search;
}

#exclusive {
    grid-area: exclusive;
}

#searchBy {
    grid-area: searchBy;
}

#aboutUs {
    grid-area: about;
}

#testimonials {
    grid-area: testimonials;
}

#footer {
    grid-area: footer;
}
