// PRIMARY COLORS
$blue1: #213A59;
$blue2: #284364;

$gold1: #9F815C;
$gold2: #C3A581;
$gold3: #E8CAA5;
$gold4: #F5F1EC;

// NEUTRALS
$grey1: #161616;
$grey2: #454545;
$grey3: #737373;
$grey4: #737373;
$grey5: #D0D0D0;
$grey6: #E8E8E8;
$grey7: #F8F8F8;
$white: #FFFFFF;


// $box-shadow1: 0px 3px 10px 1px rgba(110, 155, 188, 0.3);