@use "./colors";

@import url('https://fonts.cdnfonts.com/css/goudy-old-style');
@import url('../../../fonts/SegUIVar.ttf') format('truetype');

$font1: 'Goudy Old Style', serif;
$font2: 'Segoe UI Variable Text', sans-serif;
$font3: 'Segoe UI Variable Small Light', sans-serif;

$semilight_font2: 100;
$regular_font3: 100;
$semibold_font2: 400;
$bold_font3: 600;


html {
  font-size: 112,5%; // default is 16px , so 112,5% will be 18px
}

h1 {
  font-family: $font1;
  font-weight: 100;
  size: 2,078rem; // 37,4px
  letter-spacing: 1px;
  line-height: 2,894rem;
}

h2
{
  font-family: $font1;
  color: colors.$grey1;
  font-size: 1,733rem; // 31,2px
}

h3 {
  font-family: $font2;
  font-weight: $semilight_font2;
  font-size: 1,444rem; // 26px
}

h4 {
  font-family: $font3;
  font-weight: $regular_font3;
  font-size: 1,2rem; // 21,6px
}


p {
  font-family: $font2;
  font-weight: 100;
  font-size: 1rem;
}

button {
  font-family: $font3;
  font-weight: $regular_font3;
}


li,
a {
  font-family: $font3;
  font-weight: $regular_font3;
}


// @media screen and (min-width: 1200px) {

// }
