@use "./colors";

@import url('https://fonts.cdnfonts.com/css/goudy-old-style');
@import url('../../../fonts/SegUIVar.ttf') format('truetype');

$font1: 'Goudy Old Style', serif;
$font2: 'Segoe UI Variable Text', sans-serif;
$font3: 'Segoe UI Variable Small Light', sans-serif;

$semilight_font2: 100;
$regular_font3: 100;
$semibold_font2: 400;
$bold_font3: 600;


html {
  font-size: 100%;
}

h1,
h2
{
  font-family: 'Goudy Old Style', serif;
  color: colors.$grey1;
  opacity: 0.9;
}

h3 {
  font-family: $font2;
  font-weight: $semilight_font2;
  font-size: 20px;
}

h4 {
  font-family: $font3;
  font-weight: $regular_font3;
  font-size: 20px;
}

h5 {
  font-family: $font2;
  font-weight: $semibold_font2;
  font-size: 20px;
}

h6 {
  font-family: $font3;
  font-weight: $bold_font3;
  font-size: 20px;
}


p {
  font-family: $font2;
  font-weight: 100;
}

button {
  font-family: $font3;
  font-weight: $regular_font3;
}


li,
a {
  font-family: $font3;
  font-weight: $regular_font3;
}




// EXAMPLES FROM PREVIOUS PROJECT

// ORDERS page

// #queue-nr > p {
//     font-weight: 700;
//     font-size: 1.4rem;
//     padding-left: 5px;
// }

// .button-break,
// .button-leave,
// .button-ready {
//     text-align: center;
//     font-size: 0.9vw;
//     font-weight: 500;
//     letter-spacing: 1px;
//     color: colors.$blue-color4;
// }

///INVENTORY AND STATISTICS

// #storageAndStat {
//   h1 {
//     font-size: 1.5rem;
//     text-align: center;
//     padding: 2.5vw;
//     font-weight: 400;
//   }
// }



// @media screen and (min-width: 600px) {
//   .tap-name,
//   .stock-name {
//     font-size: 1.9vw;
//   }

// }

// @media screen and (min-width: 1200px) {
//   .tap-name,
//   .stock-name {
//     font-size: 1.05vw;
//   }

// }
