@use "./reset";
@use "./colors";

@import url('https://fonts.cdnfonts.com/css/goudy-old-style');
$font1: 'Goudy Old Style', serif;

// SEGOE UI font
@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
  }
  @font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 700;
  }




html {
  font-size: 112,5%; // default is 16px , so 112,5% will be 18px
}

h1 {
  font-family: $font1;
  font-weight: 100;
  size: 2.078rem; // 37,4px
  letter-spacing: 1px;
  line-height: 2.894rem;
}

h2
{
  font-family: $font1;
  color: colors.$grey1;
  font-size: 1.733rem; // 31,2px
}

h3 {
  font-family: "Segoe UI Semilight";
  font-size: 1.444rem; // 26px
}

h4 {
  font-family: "Segoe UI";
  font-size: 1.2rem; // 21,6px
}


p {
  font-family: "Segoe UI Semilight";
  font-size: 1rem;
}

button {
  font-family: "Segoe UI";
}


li,
a {
  font-family: "Segoe UI";
}


// @media screen and (min-width: 1200px) {

// }
